{% load staticfiles %}
<html>
    <header>
        <title>DC Link</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </header>
    <body>
        <center>
            <h1 id="header">Virtual Washington ARTCC - DC Link</h1>
        </center>
        <div class="blog">
            {% for post in posts %}
                <div>
                    <h3><a href="">{{ post.title }}</a></h3>
                    <p>published: {{ post.published_date }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>